@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

.navbar-collapse {
    justify-content: flex-end;
    font-family: 'Manrope', sans-serif;
    color: #9B9B9B;
    font-weight: 500;
    font-size: 15px;
}

.icon2 {
    width: 400px;
}

.navbar-nav {
    gap: 80px;
}

.carousel-inner {
    height: 700px;
}

.about-us-container {
    width: 100%;
    height: 500px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

.about-us-1 {
    text-align: center;
    color: #2A2A2A;
    font-size: 16px;
    margin: 100px;
}

.about-us-2 {
    margin: 100px;
    font-size: 16px;
    width: 50%;
}

.about-us-title {
    color: #2A2A2A;
    font-size: 36px;
    font-weight: 500;
}

.about-us-description {
    color: #9B9B9B;
    font-size: 16px;
}

.about-us-funfact {
    font-size: 16px;
}

.services-container {
    text-align: center;
    height: 600px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Manrope', sans-serif;
}

.services-title {
    color: #2A2A2A;
    font-size: 36px;
    font-weight: 500;
}

.services-imgs-container {
    margin: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-img {
    width: 410px;
    height: 300px;
}

.products {
    font-size: 20px;
    margin-top: 20px;
}

.products-2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Manrope', sans-serif;
}

.product-img:hover {
    cursor: pointer;
    width: 425px;
    height: 315px;
}

.lavadoras-container {
    background-color: #F8F8F8;
    height: auto;
}

.refrigeradores-container {
    background-color: #F8F8F8;
    height: auto;
}

.lavadoras-title-container {
    margin: 130px;
    height: 50px;
}

.lavadoras-title {
    color: #2A2A2A;
    font-size: 30px;
    font-weight: 500;
    margin-top: 60px;
    position: absolute;
    font-family: 'Manrope', sans-serif;
}

.lavadoras-cards {
    margin: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px
}

.card {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    width: 18rem;
}


.card-body {
    background-color: #9B9B9B;
}

h5.card-title,
p.card-text {
    color: #F8F8F8;
    margin-left: 15px;
}

.card-title {
    margin-left: 15px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

.btn.btn-primary {
    background-color: #2A2A2A;
    border: #2A2A2A;
    margin-top: 20px;
}
 
.btn.btn-primary-2 {
    background-color: #F8F8F8;
    border: #F8F8F8;
    color: #2A2A2A;
    margin-top: 20px;
}

.btn.btn-primary-2:hover {
    background-color: #2A2A2A;
    border: #2A2A2A;
    color: #D9D9D9;
    margin-top: 30px;
}

.btn.btn-primary:hover {
    background-color: #F8F8F8;
    color: #2A2A2A;
    border: #F8F8F8;
}


.refrigeradores-title-container {
    margin-left: 130px;
    height: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* margin-left: -22px; */
}

.text-area {
    background-color: #D9D9D9;
    color: #9B9B9B;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    border: none;
    height: 37px;
    margin: 3px;
    width: 310px;
    margin-left: -17px;
}

.message-area-class1 {
    background-color: #D9D9D9;
    color: #9B9B9B;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    border: none;
    /* height: 200px; */
    margin: 3px;
    margin-left: 7px;
    /* width: 620px; */
    margin-left: 30px;
}

.button-area {
    background-color: #81BAB9;
    color: #F8F8F8;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    border: none;
    height: 37px;
    margin: 3px;
    margin-left: 7px;
    width: 310px;
    font-weight: 500;
}

.form-map-container {
    height: auto;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact-container {
    display: flex;
    flex-direction: column;
    height: 280px;
    background-color: #2A2A2A;
    font-family: 'Manrope', sans-serif;
    justify-content: center;
    align-items: center;
}

.phone-mail-address {
    display: flex;
    flex-direction: row;
    border-left: 2px #9B9B9B;
    width: 100%;
    justify-content: space-around;
    height: 80%;
    align-items: center;
}

.phone-title {
    color: #F8F8F8;
    font-size: 16px;
    margin-bottom: 15px;
}

.phone-info {
    color: #81BAB9;
    font-size: 13px;
}

.division-line {
    height: 1px;
    width: 100%;
    background-color: #9B9B9B;
    margin-bottom: 15px;
}

.social-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.social-icons {
    display: flex;
    flex-direction: row;
}

.instagram-logo {
    width: 23px;
    margin-left: 30px;
}

@media screen and (max-device-width: 768px) {
    img.icon {
        width: 290px;
    }

    .navbar-collapse {
        font-size: 36px;
    }

    .navbar-nav {
        align-items: center;
    }

    .navbar-toggler {
        width: 120px;
        height: 120px;
    }

    span.navbar-toggler-icon {
        width: 90px;
        height: 90px;
    }

    .carousel-inner {
        height: 500px;
    }

    .about-us-1 {
        display: none;
    }

    .about-us-2 {
        width: 80%;
    }

    .about-us-title {
        font-size: 66px;
    }

    .about-us-description {
        font-size: 40px;
    }

    .about-us-container {
        height: 1100px;
    }

    .services-container {
        height: auto;
        justify-content: center;
    }

    .services-title {
        font-size: 66px;
        margin-top: 120px;
    }

    .services-imgs-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-top: 100px;
    }

    .product-img {
        width: 610px;
        height: 415px;
    }

    .products {
        font-size: 50px;
    }

    .lavadoras-title-container {
        display: flex;
        justify-content: center;
    }

    .refrigeradores-title-container {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    .lavadoras-title {
        font-size: 66px;
    }

    .lavadoras-cards {
        justify-content: center;
    }

    .form-map-container {
        flex-direction: column;
        margin: 50px;
        min-height: 1400px;
        gap: 100px
    }

    .message-area-class1 {
        font-size: 36px;
        height: 250px;
        width: 100%;
    }

    .button-area {
        font-size: 36px;
        height: 67px;
        margin: 3px;
        width: 100%;
        margin-left: 0px;
    }

    .products-2 {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        margin-top: 140px;
    }

    .form-row {
        flex-direction: column;
        gap: 15px;
    }

    .text-area {
        font-size: 36px;
        height: 67px;
        margin: 3px;
        width: 100%;
        margin-left: 0px;
    }

    .contact-container {
        height: 1380px;
    }

    .phone-mail-address {
        flex-direction: column;
        width: 70%;
        justify-content: center;
        height: 80%;
        align-items: start;
        margin-left: 5%;
        gap: 80px;
    }

    .phone-title {
        font-size: 46px;
    }

    .phone-info {
        font-size: 38px;
    }

    .social-container {
        flex-direction: column;
        width: 90%;
        align-items: center;
        gap: 30px
    }

    .card-text {
        font-size: 38px;
    }

    .instagram-logo {
        width: 73px;
        margin-left: 80px;
    }

    .card {
        width: 750px;
        margin-top: 100px;
    }

    .card-title {
        font-size: 42px;
        margin-left: 15px;
    }

    .btn.btn-primary {
        width: 300px;
        height: 70px;
        font-size: 36px;
        margin-top: 30px;
    }

    .btn.btn-primary-2 {
        background-color: #F8F8F8;
        border: #F8F8F8;
        color: #2A2A2A;
        /* margin-top: 20px; */
        width: 300px;
        height: 70px;
        font-size: 36px;
        margin-top: 30px;
    }
}